ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0 ;
}

.listheader {
    margin: 2rem 0 0 0;
    font-weight: bold;
}
/*.listheader span,
ul li span {
    padding: 0.5rem;
}*/

ul li {
    padding: 0.5rem;
}

.listheader,
ul li {
    display: grid;
    grid-template-columns: 5rem auto 5rem;
    column-gap: 0.5rem;
    min-height: 3rem;
    align-items: center;
}

ul li input{
    margin-top: 0.5rem;
    align-self: start;
    justify-self: center;
}

.done {
    opacity: 0.5;
}

[aria-selected="true"] {
    border: #266fed solid 1px;
    background: #266fed;
    color: #FFFFFF;
}